main {
	padding: 60px;
  font-size: 0;
}
.in {
	display: inline-block;
	height:200px;
	margin-left: auto;
	margin right:auto; 
	width:50%;
  font-size:0;
  border-style: solid;
  border-width:1px;
  
}
.in1{
	background-color: green;
}
.in2{
	background-color: blue; 
}
.inn1 {
	display: inline-block;
	height:300px;
	width: 33.33%;
	margin-left: auto;
	margin right:auto;
  font-size:0;
  border-style: solid;
  border-width:1px;
}
.in3{
	background-color: grey;
}
.in4{
	background-color: black; 
}
.in5{
	background-color: orange;
}